<div class="container">
    <div class="row center">
        <h5 class="header col s12 light">
            Talk to some of the best Laravel minds on the web today
        </h5>
    </div>

    <div class="row center">
        <a class="btn-large waves-effect waves-light red" href="/join">
            Join Today
        </a>
    </div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center red-text mdi-communication-chat" style="font-style: italic"></h2>

                    <h5 class="center">Simple Chat Interface</h5>
                    <p class="light">
                        <a href="https://slack.com" target="_blank">Slack</a> is a great platform for communication. Everything is in one place and searchable. Available on web, mobile &amp; desktop.
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center red-text mdi-social-people" style="font-style: italic"></h2>

                    <h5 class="center">Artisans Everywhere</h5>

                    <p class="light">All the admins for this channel are huge nerds. Seriously. We really love technology and work in the industry and keep our own side projects going too. Feel free to ask us anything! We'd love to hear about your suggestions and ideas.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center red-text mdi-hardware-keyboard-alt"
                    style="font-style: italic"></h2>

                    <h5 class="center">Made with Love</h5>

                    <p class="light">This community was started because we just love Laravel and Slack so much. They're both pretty great and we've taken care with the creation of this channel. Thank you everyone who has joined us so far, y'all are great!</p>
                </div>
            </div>
        </div>
    </div>
</div>