<div class="article">
    <h1>
        {{ if use_context }}<a href="{{ url }}">{{ endif }}{{ title|widont }}{{ if use_context }}</a>{{ endif }}
    </h1>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- LaraChat -->
<ins class="adsbygoogle"
     style="display:inline-block;width:320px;height:100px"
     data-ad-client="ca-pub-8121638007835427"
     data-ad-slot="5169251654"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    <p class="time">
        Written on {{ date }}
    </p>

    {{ content|unchunk|widont }}


    <h5>Like this post? Share it!</h5>
    <div class="addthis_sharing_toolbox"></div>

    <p class="cta z-depth-1">As always, you may have questions or <strong><em>*gulp*</em></strong> demands. Please reach out to us on <a href="https://twitter.com/larachatslack">Twitter</a> or join the conversation with us on <a href="https://larachat.slack.com" target="_blank">Slack</a>!</p>
</div>
